@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  a[href=""] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;
